* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
}
main {
	width: 100%;
	height: 100%;
	position: relative;
}
header {
	position: fixed;
	height: 15%;
	width: 100%;
	background: linear-gradient(to left, rgb(248, 211, 248), rgb(209, 242, 255));
	display: flex;
	flex-direction: column;
}

.head {
	padding-top: 10px;
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: -10px;
}

.head .menus {
	display: flex;
	gap: 20px;
}

.menus img {
	width: 35px;
	height: 35px;
}

header .nav {
	padding-top: 10px;
	padding-left: 8%;
}

.container {
	width: 100%;
	background: linear-gradient(to right, rgb(34, 0, 34), rgb(0, 21, 30));
	overflow-y: scroll;
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
}

.container::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
}

.retour {
	margin-top: 30px;
	z-index: 1;
	position: fixed;
	left: 7%;
	top: 12%;
}
.retour img {
	width: 30px;
	height: 30px;
	z-index: 1;
	cursor: pointer;
	position: absolute;
	
}

.headLivre {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 40%;
	position: fixed;
	left: 7%;
	justify-content: center;
	height: 100%;
}
.headLivre h3 {
	color: white;
	z-index: 1;
	font-size: 25px;
	margin-left: 20px;
	margin-top: 70px;
}

.livreContent h3 {
	margin-left: 0px !important;
	color: purple !important;
	text-transform: capitalize;
	font-size: 30px !important;
}


.imageLivre img {
	
	left: 0;
	z-index: 0;
	opacity: 100%;
	top: 10%;
	width: 100%;
	margin: 0;
	height: 400px;
	left: 0%;
	position: absolute;
}

.livreContent {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 50%;
	margin-left: 50%;
	padding-right: 5%;
}

.livreContent p {
	font-size: 20px;
	color: gray !important;
}
footer {
	position: fixed;
	bottom: 0;
	height: 10%;
	width: 100%;
	background-color: white;
}

.footerElements {
	display: flex;
	justify-content: space-between;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footerElements .element {
	width: 100px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.footerElements .element:hover {
	background-color: rgba(65, 105, 225, 0.074);
}

.footerElements img {
	height: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 780px) {
	body {
		display: flex;
		justify-content: center;
		height: 100vh;
		align-items: center;
	}
	main {
		width: 100%;
		height: 100%;
		position: relative;
	}
	header {
		position: fixed;
		height: 15%;
		width: 100%;
		background: linear-gradient(to left, rgb(248, 211, 248), rgb(209, 242, 255));
		display: flex;
		flex-direction: column;
	}

	.head {
		padding-top: 10px;
		padding-left: 5%;
		padding-right: 5%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		display: flex;
		align-items: center;
		margin-left: -10px;
	}

	.head .menus {
		display: flex;
		gap: 20px;
	}

	.menus img {
		width: 35px;
		height: 35px;
	}

	header .nav {
		padding-top: 10px;
		padding-left: 8%;
	}

	.container {
		width: 100%;
		background: linear-gradient(to right, rgb(34, 0, 34), rgb(0, 21, 30));
		overflow-y: scroll;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	a {
		text-decoration: none;
	}
	p {
		letter-spacing: 1px !important;
		line-height: 22px;
		display: flex;
		text-align: left;
		color: white;
		width: 95%;
		margin: auto;
		font-size: 14px !important;
		opacity: 60% !important;
	}

	.pcolor {
		color: black;
	}
	.retour {
		margin-top: 30px;
		z-index: 1;
		position: absolute;
	}
	.retour img {
		width: 30px;
		height: 30px;
		z-index: 1;
		cursor: pointer;
		position: absolute;
		margin-left: 10px;
	}

	.headLivre {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.headLivre h3 {
		text-transform: capitalize;
		color: white;
		z-index: 1;
		margin-top: 110px;
		font-size: 25px;
		margin-left: 10px;
		position: absolute;
	}
	.imageLivre img {
		position: absolute;
		left: 0;
		z-index: 0;
		opacity: 80%;
		top: 10%;
		width: 100%;
		margin: 0;
		height: 200px;
	}

	.livreContent {
		margin-top: 200px;
		display: flex;
		flex-direction: column;
		text-align: left;
		color: black !important;
		width: 100%;
		margin-left: 0;
		
	}
	.livreContent p {
		font-size: 15px;
	}
	.content p {
		color: black !important;
	}

	.livreContent h3 {
		margin-left: 10px !important;
		color: purple !important;
		text-transform: capitalize;
	}
	.p {
		color: black !important;
	}
	footer {
		position: fixed;
		bottom: 0;
		height: 10%;
		width: 100%;
		background-color: white;
	}

	.footerElements {
		display: flex;
		justify-content: space-between;
		padding-left: 1%;
		padding-right: 1%;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.footerElements .element {
		width: 100px;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.footerElements .element:hover {
		background-color: rgba(65, 105, 225, 0.074);
	}

	.footerElements img {
		height: 30px;
		width: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.footerElements a h3 {
		color: royalblue;
	}
}
